body { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background: #00b7a1;
    align-items: center;
}
.header {
    width: 60%;
}
.slogan {
    font-size: 30px;
    box-sizing: border-box;
    padding: 15px;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

.nav-item {
    width: 20%;
    font-size: 30px;
    list-style-type: none;

}
.nav-list {
display: flex;
justify-content: space-between;
}
.nav-item a {
    text-decoration: none;
}